<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TweetLittleBird.TwitterConsumerKey" value="{Env}" />
    <add key="TweetLittleBird.TwitterConsumerSecret" value="{Env}" />
    <add key="TwitterRequestTokenUrl" value="https://api.twitter.com/oauth/request_token" />
    <add key="TwitterAuthorizeUrl" value="https://api.twitter.com/oauth/authorize" />
    <add key="TwitterAccessTokenUrl" value="https://api.twitter.com/oauth/access_token" />
  </appSettings>
</configuration>